.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left {
  width: 15rem;
  height: 100vh;
  border: 1px solid red;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.right {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  border: 1px solid red;
}