.svg {
  width: 100%;
  max-width: 180px;
  height: auto;
  display: block;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .svg {
    max-width: 160px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .svg {
    max-width: 130px;
  }
}