.container {
  height: 100%;
  background-color: var(--secondaryColor);
  border: solid rgba(255, 255, 255, 0.2) 1px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}