.container{
  background-color: #34B34A;
  color: white;
  transition: 300ms ease;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 0;
  padding: 4px;
  border: 1px solid #000;
  box-shadow: rgba(52, 179, 73, 0) 0 0 2px;
  gap: 8px;
}

.container:hover {
  box-shadow: rgba(52, 179, 73, 1) 0 0 40px;
  background-color: #51cd65;
}

.container:active {
  background-color: #34B34A;
}